body {
background: url(../images/shooting-star.png) no-repeat center center fixed;
  background-size: cover;
  image-rendering: pixelated;
  font-family: 'Courier New', monospace;
  color: #4B8CDF;
  text-align: center;
  margin: 0;
  padding: 0; 
}

h1 {
    color: #ff694f;
    text-shadow: 0 0 5px #ff694f, 0 0 10px;
}

#startBtn {
    padding: 10px 20px;
    background: #ffd469;
    color: #0f0f1a;
    font-weight: bold;
    border: dashed;
    border-radius: 15px;
    cursor: pointer;
}

canvas {
  background: #70b2f0;
  border: 4px solid #ff694f;
  margin-top: 10px;
  display: none;
  image-rendering: pixelated;

}

